.createUser{
    width:100%;
    margin-left:5px;
    margin-top:30px;
}

.editUser{
    width:230px;
    margin-left:1px;
    margin-top:30px;
}

.createPost{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    padding-top: 30px;
}

